*{
    margin:0px;
    padding: 0px;
}
header{
    width: 100%;
    height: 85vh;
    background-color: aquamarine;
}
main{
    width: 100%;
    height: 200vh;
    background-color: coral;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
footer{
    width: 100%;
    height: 50vh;
    background-color: cornflowerblue;
}
.main_div1{
    width: 80%;
    height: 48vh;
    background-color: aqua;
    margin-top: 20px;
}
.main_div2{
    width: 80%;
    height: 60vh;
    background-color: rgb(205, 30, 240);
    margin-top: 20px;
    display: inline-flex;
    justify-content: space-between;
}
.main_div11{
    width: 23%;
    height: 22vh;
    display: inline-flex;
    background: url(https://elmakon.uz/images/abt__ut2/banners/all/34/Smartfon__2_.png);
    background-color: #078752;
    background-size: cover;
    margin-left: 20px;
    margin-top: 10px;
}
.main_div12{
    width: 23%;
    height: 22vh;
    display: inline-flex;
    background: url(https://elmakon.uz/images/abt__ut2/banners/all/37/Obogrev.png);
    background-color: #0096ff;
    background-size: cover;
    margin-left: 20px;
    margin-top: 10px;
}
.main_div13{
    width: 23%;
    height: 22vh;
    display: inline-flex;
    background: url(https://elmakon.uz/images/abt__ut2/banners/all/37/Obogrev.png);
    background-color: #0096ff;
    background-size: cover;
    margin-left: 20px;
    margin-top: 10px;
}
.main_div14{
    width: 23%;
    height: 22vh;
    display: inline-flex;
    background: url(https://elmakon.uz/images/abt__ut2/banners/all/37/Obogrev.png);
    background-color: #0096ff;
    background-size: cover;
    margin-left: 20px;
    margin-top: 10px;
}
.main_div15{
    width: 23%;
    height: 22vh;
    display: inline-flex;
    background: url(https://elmakon.uz/images/abt__ut2/banners/all/37/Obogrev.png);
    background-color: #0096ff;
    background-size: cover;
    margin-left: 20px;
    margin-top: 10px;
}
.main_div16{
    width: 23%;
    height: 22vh;
    display: inline-flex;
    background: url(https://elmakon.uz/images/abt__ut2/banners/all/37/Obogrev.png);
    background-color: #0096ff;
    background-size: cover;
    margin-left: 20px;
    margin-top: 10px;
}
.main_div17{
    width: 23%;
    height: 22vh;
    display: inline-flex;
    background: url(https://elmakon.uz/images/abt__ut2/banners/all/37/Obogrev.png);
    background-color: #0096ff;
    background-size: cover;
    margin-left: 20px;
    margin-top: 10px;
}
.main_div18{
    width: 23%;
    height: 22vh;
    display: inline-flex;
    background: url(https://elmakon.uz/images/abt__ut2/banners/all/37/Obogrev.png);
    background-color: #0096ff;
    background-size: cover;
    margin-left: 20px;
    margin-top: 10px;
}
@media screen and (max-width: 992px) {
    .main_div15,.main_div16,.main_div17,.main_div18,.main_div11,.main_div12,.main_div13,.main_div14{
        width: 21%;
    }
   .main_div114,.main_div115{
        display: none;
    }
    .main_div11,.main_div112,.main_div113{
        width: 30% !important;
    }

}

@media screen and (max-width: 768px) {
    .main_div15,.main_div16,.main_div17,.main_div18{
        display: none;
    }
    .main_div11,.main_div12,.main_div13,.main_div14{
        width: 45%;
    }
    
    .main_div113,.main_div114,.main_div115{
        display: none;
    }
    .main_div11,.main_div112{
        width: 45% !important;
    }



    
}

@media screen and (max-width: 576px) {
    .main_div11,.main_div12,.main_div13,.main_div14{
        width: 43%;
    }
    
}

.main_div112{
    width: 19%;
    height: 60vh;
    background-color: #0096ff;
}
.main_div1122{
    width: 100%;
    height: 35vh;
    background: url(https://elmakon.uz/images/thumbnails/250/250/detailed/20/%D0%91%D0%B5%D0%B7_%D0%B8%D0%BC%D0%B5%D0%BD%D0%B8-65_6wco-xf.jpg);
}

.main_div113{
    width: 19%;
    height: 60vh;
    background-color: #0096ff;
}
.main_div1123{
    width: 100%;
    height: 35vh;
    background: url(https://elmakon.uz/images/thumbnails/250/250/detailed/20/%D0%91%D0%B5%D0%B7_%D0%B8%D0%BC%D0%B5%D0%BD%D0%B8-65_6wco-xf.jpg);
}
.main_div114{
    width: 19%;
    height: 60vh;
    background-color: #0096ff;
}
.main_div1124{
    width: 100%;
    height: 35vh;
    background: url(https://elmakon.uz/images/thumbnails/250/250/detailed/20/%D0%91%D0%B5%D0%B7_%D0%B8%D0%BC%D0%B5%D0%BD%D0%B8-65_6wco-xf.jpg);
}
.main_div115{
    width: 19%;
    height: 60vh;
    background-color: #0096ff;
}
.main_div1125{
    width: 100%;
    height: 35vh;
    background: url(https://elmakon.uz/images/thumbnails/250/250/detailed/20/%D0%91%D0%B5%D0%B7_%D0%B8%D0%BC%D0%B5%D0%BD%D0%B8-65_6wco-xf.jpg);
}

